<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
    executionOrder="depends,defects"
    failOnWarning="true"
    failOnRisky="true"
    failOnIncomplete="true"
    failOnSkipped="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <file>app/core/Auth.php</file>
            <file>app/core/Logger.php</file>
            <file>app/core/Router.php</file>
            <file>app/core/Session.php</file>
        </include>
    </coverage>
</phpunit>
